TELEGRAM_TOKEN=

ALLOWED_TELEGRAM_USER_IDS=868076136

LLM_BASE_URL=https://albedo-production.up.railway.app/v1
LLM_API_KEY=
LLM_MODEL=vikhr-llama-3.2-1b

PORT=3000
TELEGRAM_WEBHOOK_URL=https://telegram-bot-production.up.railway.app/webhook
TELEGRAM_WEBHOOK_SECRET=

VICTORIA_METRICS_URL=https://victoriametrics-production-7636.up.railway.app
VICTORIA_METRICS_USERNAME=
VICTORIA_METRICS_PASSWORD=
